* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #222;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap
}

.card {
    position: relative;
    width: 320px;
    height: 400px;
    background: rgba(45, 45, 45, 1) ;   
    border-radius: 20px;
}

.card::before {
    content: '';
    position: absolute;
    background: linear-gradient(var(--clr), transparent);
    width: 700px;
    height: 700px;
}